<% content_for :page_title, @review.title  %>

<h1><%= ProfanityFilter::Base.clean(@review.title) %></h1>
<h2><%= @review.restaurant %></h2>

<% if is_logged_in? %>
  <p>

      <% if @review.bookmarks.where(user: @current_user).any? %>
        <%= link_to "Unbookmark", review_bookmark_path(@review), method: :delete %>
      <% else %>
        <%= link_to "Bookmark", review_bookmark_path(@review), method: :post %>
      <% end %>
  </p>
<% end %>

<h3> Bookmarked by... </h3>

<ul>

  <% @review.bookmarks.each do |bookmark| %>

    <li><%= bookmark.user.username %></li>

  <% end %>

</ul>

<div class="address">
  Address: <%= @review.address %>
</div>


<div class="user">
  Posted by:
  <% if @review.user.present? %>
    <%= link_to @review.user.username, user_path(@review.user) %>
  <% else %>
    anonymouse <%= image_tag "noun_Mouse_1046559.svg" %>
  <% end %>
</div>

<div class="score">
  Score: <%= @review.score %>/10
</div>

<% if @review.ambience.present? %>
<div class="ambience">
  Ambience: <%= @review.ambience %>
</div>
<% end %>

<% if @review.cuisine.present? %>
<div class="cuisine">
  Cuisine: <%= @review.cuisine %>
</div>
<% end %>

<% if @review.price.present? %>
<div class="price">
  Price: <%= @review.price %>
</div>
<% end %>

<div class="body">
  <%= simple_format ProfanityFilter::Base.clean(@review.body) %>
</div>

<div class="phone_number">
  <%= @review.phone_number %>
</div>

<% if @review.user == @current_user %>
  <div class="actions">
    <%= link_to "Edit this review", edit_review_path(@review) %>
    <%= link_to "Delete this review", review_path(@review), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% else %>

<% end %>


<h3>Add a comment</h3>

<%= simple_form_for [@review, Comment.new] do |f| %>
  <%= f.input :body %>
  <%= f.button :submit, "Add comment" %>
<% end %>

<h3>Comments</h3>

<% @review.comments.order("created_at desc").each do |comment| %>

<div class="comment">
  <%= simple_format ProfanityFilter::Base.clean(comment.body) %>

  <p class="posted">Posted at <%= time_tag comment.created_at %></p>
  <p class="posted"> Posted by
    <% if comment.user.present? %>
      <%= link_to comment.user.username, user_path(comment.user) %></p>
    <% else %>
      anonymouse <%= image_tag "noun_Mouse_1046559.svg" %>
    <% end %>
</div>

<% end %>
